<launch>

    <arg name="bsm_slam" default="true"/>

    <node if="$(arg bsm_slam)" pkg="rplidar_ros" type="rplidarNode" name="rplidar"/>

    <node if="$(arg bsm_slam)" pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_link laser_frame 100" />

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find bsm_slam)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find bsm_slam)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find bsm_slam)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find bsm_slam)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find bsm_slam)/config/trajectory_planner.yaml" command="load" />
    </node>

</launch>
